# Read about fixtures at http://ar.rubyonrails.org/classes/Fixtures.html

<%- if attributes.present? -%>
  <%- %w{one two}.each_with_index do |name, i| -%>
<%= name %>:
    <%- attributes.each do |attribute| -%>
  <%= attribute.name %>: '<%= attribute.default %>'
    <%- end -%>
<%- if options[:translatable] -%>
  content_id: 1
<%- end -%>
<%- if options[:translatable] -%>
  locale: 'en'
<%- end -%>
  <%- end -%>
<%- else -%>
# one:
#   column: 'value'
#
# two:
#   column: 'value'
<%- end -%>
