<h1>
  <%%= render :partial => 'title' %>
</h1>

<h2>
  <%%= render :partial => 'submenu' %>
</h2>

<%%= render :partial => "shared/ubiquo/feedback" %>

<%%= show_filter_info %>

<%%= <%= singular_name %>_list(@<%= plural_name%>, @<%= plural_name%>_pages) %>

<%% content_for :sidebar do %>
  <%%= show_filters %>

  <h3><%%= t("ubiquo.help") %></h3>
  <p><%%= t("ubiquo.<%= singular_name %>.index.help_message") %></p>
<%% end %>
